#main
{
    width:400px;
    height:600px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    box-sizing: border-box;
}
#display{
    width: 311px;
    height: 65px;
    border-left:3px solid rgb(155, 147, 147);
    border-right:3px solid rgb(155, 147, 147);
    border-top:3px solid rgb(155, 147, 147);
    font-weight: 600;
    font-size: 30px;
    background-color: rgb(236, 227, 236);
}
#screen{
    width:311px;
    height:140px;
    border-left:3px solid rgb(155, 147, 147);
    border-right:3px solid rgb(155, 147, 147);
    /* border-top:3px solid rgb(155, 147, 147); */
    font-weight: 600;
    font-size: 30px;
    background-color: rgb(247, 239, 239);
}

span{
    animation:fadeIn;
    animation-iteration-count: infinite;
     animation-duration:0.6s;
}
.button{
    width:75px;
    height:75px;
    border:2px solid rgb(155, 147, 147);
    display:inline-block;
    text-align: center;
    transition: all ease-in-out 0.1s;
    font-weight: none;
    color:rgb(23, 36, 36);
    background-color: white;
}

.button:hover{
    background-color: rgb(200, 219, 238);
}
.margin{
    margin-left:-4px;
}

.color{
    background-color: powderblue;
}

.color:hover{
    background-color: rgb(114, 146, 240);
}

.color1{
    background-color:rgb(238, 222, 238);
}

.color1:hover{
    background-color:rgb(236, 204, 236)
}
